@*@model string;*@
@*@model BoltaShop.Models.Dbo.Book*@

<!-- Modal -->
<div class="modal fade" id="item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                
                <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/1997 Rudina/1997 Rudina 10.jpg" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="info">
                                        <div class="container-fluid">
                                            <div class="filter-control">
                                                <div class="section-title">
                                                    
                                                    
                                                   @* <h2>@Model.Naziv</h2>
                                                *@
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <p>Opis</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
            
            </div>
            </div>
    </div>
</div>