@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BoltaShop.Models.Dbo.Author
@{
    ViewData["Title"] = "Update Author";
}

<br />
<br />
<br />
<br />

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6 offset-3">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Update Author</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post" asp-action="Edit">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group text-center">
                                    <img id="ImagePreview" class="border-info rounded" style="max-width: 250px" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slika" class="control-label"></label>
                                    <input asp-for="Slika" class="form-control" placeholder=" author Image" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label> &nbsp; &nbsp; FistName</label>
                                    <input asp-for="Ime" type="text" class="form-control" placeholder=" author FirstName">
                                    <span asp-validation-for="Ime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label> &nbsp; &nbsp; LastName</label>
                                    <input asp-for="Prezime" type="text" class="form-control" placeholder=" author LastName">
                                    <span asp-validation-for="Prezime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label> &nbsp; &nbsp; Description</label>
                                    <input asp-for="Opis" type="text" class="form-control" placeholder=" author Description">
                                    <span asp-validation-for="Opis" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" align="right">
                        <button type="submit" class="btn btn-primary">Update</button><a asp-controller="Author" asp-action="Index" class="btn btn-secondary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

@section Scripts{
    <script>

        $(document).ready(function() {
            var output = document.getElementById('ImagePreview');
            output.src = $("#Slika").val();
        })

        $("#Slika").on("change", function() {
            var output = document.getElementById('ImagePreview');
            output.src = $(this).val();
        })
    </script>
}