@using BoltaShop.Models.Dto
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BoltaShop.Models.ViewModel.BookViewModel


@{
    ViewData["Title"] = "Create a new book";
}


<div class="row">
    <div class="col-md-10 offset-1">

        <div class="row">
            <div class="col-md-10 offset-1">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-3">

                            <div class="form-group">
                                <label asp-for="Naziv" class="control-label"></label>
                                <input asp-for="Naziv" class="form-control" />
                                <span asp-validation-for="Naziv" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="AuthorIds" class="control-label"></label>
                                <select asp-for="AuthorIds" class="form-control" asp-items="ViewBag.Authors" multiple></select>
                                <span asp-validation-for="AuthorIds" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="OpisKratki" class="control-label"></label>
                                <input asp-for="OpisKratki" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Opis" class="control-label"></label>
                                <textarea asp-for="Opis" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Opis" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Slika" class="control-label"></label>
                                <input asp-for="Slika" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="form-check">
                                <input asp-for="Dostupno" class="form-check-input" type="checkbox" value="true" id="Dostupno">
                                <label class="form-check-label" for="Dostupno">Dostupno</label>
                            </div>


                            <div class="form-group">
                                <label asp-for="Cijena" class="control-label"></label>
                                <input asp-for="Cijena" type="number" class="form-control" />
                                <span asp-validation-for="Cijena" class="text-danger"></span>
                            </div>
                            
                            <div class="form-check">
                                <input asp-for="Snizenje" class="form-check-input" type="checkbox" value="false" id="Snizenje">
                                <label class="form-check-label" for="Snizenje">Sniženje</label>
                            </div>

                            <div class="form-group">
                                <label asp-for="CijenaSnizenje" class="control-label"></label>
                                <input asp-for="CijenaSnizenje" type="number" class="form-control" />
                                <span asp-validation-for="CijenaSnizenje" class="text-danger"></span>
                            </div>
                            
                               <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" type="date" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" type="date" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>





                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="GodinaIzdanja" class="control-label"></label>
                                <input asp-for="GodinaIzdanja" type="number" class="form-control" />
                                <span asp-validation-for="GodinaIzdanja" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Nakladnik" class="control-label"></label>
                                <input asp-for="Nakladnik" class="form-control" />
                                <span asp-validation-for="Nakladnik" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Isbn" class="control-label"></label>
                                <input asp-for="Isbn" class="form-control" />
                                <span asp-validation-for="Isbn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookCategory" class="control-label"></label>
                                <select asp-for="BookCategory" class="form-control" asp-items="Html.GetEnumSelectList<BookCategory>()"></select>
                                <span asp-validation-for="BookCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookBinding" class="control-label"></label>
                                <select asp-for="BookBinding" class="form-control" asp-items="Html.GetEnumSelectList<BookBinding>()"></select>
                                <span asp-validation-for="BookBinding" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BrojStranica" class="control-label"></label>
                                <input asp-for="BrojStranica" type="number" class="form-control" />
                                <span asp-validation-for="BrojStranica" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Sirina" class="control-label"></label>
                                <input asp-for="Sirina" type="number" class="form-control" />
                                <span asp-validation-for="Sirina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Visina" class="control-label"></label>
                                <input asp-for="Visina" type="number" class="form-control" />
                                <span asp-validation-for="Visina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Debljina" class="control-label"></label>
                                <input asp-for="Debljina" type="number" class="form-control" />
                                <span asp-validation-for="Debljina" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tezina" class="control-label"></label>
                                <input asp-for="Tezina" type="number" class="form-control" />
                                <span asp-validation-for="Tezina" class="text-danger"></span>
                            </div>




                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImagePreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $("#Slika").on("change", function() {
            var output = document.getElementById("ImagePreview");
            output.src = $(this).val();
        })
    </script>
}