@{
    ViewData["Title"] = "Bolta";
}


<!-- Hero section -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero-01-rudina.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        @*<span>BOOK</span>*@
                        <h2>Rudina</h2>
                        <p>
                            Rudina je bila centar ili bolje rečeno središte centralne Slavonije u kojoj se spaja sve ono najbolje toga vremena.
                            'Rudina se rudila od crvenih fresaka.' - Akademik Matko Peić.
                        </p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>30%</span></h2>
                </div>
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-02-puvarija.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        @*<span>Bag,kids</span>*@
                        <h2>Puvarija</h2>
                        <p>Prva cjelovita obrada sjeverno-zapadnog dijela Dilj-gore i naselja na diljskim padinama, od srednjeg vijeka do današnjih dana.</p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <div class="off-card">
                    <h2>Sale <span>30%</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<br />



<!-- Banner -->
<p>
@*<div class="banner-section spad">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="img/banner-1.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Men’s</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="img/banner-2.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Women’s</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="img/banner-3.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Kid’s</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>*@
</p>



<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-sm-2">
                <div class="filter-control">
                    <div class="section-title">
                        <h2>Best Offer</h2>
                    </div>
                    @*<ul>
                    <li class="active">Clothings</li>
                    <li>HandBag</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    </ul>*@
                </div>
                <div class="product-slider owl-carousel">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1996 Groblja Pozeske Doline/1996 Groblja Pozeske Doline 00.jpg" alt="" />
                            <div class="percentage"><i class="fa-solid fa-percent"></i></div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#">
                                <h5>Groblja Pozeske Doline</h5>
                            </a>
                            <div class="product-price">
                                200.00 Kn
                                @*<span>$35.00</span>*@
                            </div>
                        </div>
                    </div>

                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1997 Rudina/1997 Rudina 11.jpg" alt="" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#">
                                <h5>Rudina</h5>
                            </a>
                            <div class="product-price">
                                300.00 Kn
                                <span>250.00 Kn</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/1998 Puvarija/Puvarija 00.jpg" alt="" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#">
                                <h5>Puvarija</h5>
                            </a>
                            <div class="product-price">
                                300.00 Kn
                                <span>250.00 Kn</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="img/2002 Sesvetacki Kraj U Srcu Poljadije/2002 Sesvetacki Kraj U Srcu Poljadije 05 1x1.jpg" alt="" />
                            <div class="sale">Sale</div>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-eye"></i></a></li>
                                <li class="quick-view"><a href="#"><i class="fa-solid fa-cart-plus"></i> Add To Cart</a></li>
                                <li class="w-icon active"><a href="#"><i class="fa-solid fa-heart-circle-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name">T. Wittenberg</div>
                            <a href="#">
                                <h5>Sesvetački Kraj U Srcu Poljadije</h5>
                            </a>
                            <div class="product-price">
                                300.00 Kn
                                <span>250.00 Kn</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- deal-of-week -->
<section class="deal-of-week set-bg spad" data-setbg="img/DealOfTheMonth.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Deal Of The Month</h2>
                <p>LIMITED OFFER</p>
                <div class="product-price">
                    600 Kn
                    <span>/ <s>900 Kn</s></span>
                </div>
            </div>
            <div class="countdown-timer">
                <div class="cd-item">
                    <span><a id="days"></a></span>
                    <p>Days</p>
                </div>
                <div class="cd-item">
                    <span><a id="hrs"></a></span>
                    <p>Hrs</p>
                </div>
                <div class="cd-item">
                    <span><a id="min"></a></span>
                    <p>Min</p>
                </div>
                <div class="cd-item">
                    <span><a id="sec"></a></span>
                    <p>Sec</p>
                </div>
            </div>
            <a href="#" class="primary-btn">Shop Now</a>
        </div>
    </div>
</section>


<!-- man-banner -->
<p>
    @* <section class="man-banner spad">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-8">
    <div class="filter-control">
    <ul>
    <li class="active">Clothings</li>
    <li>HandBag</li>
    <li>Shoes</li>
    <li>Accessories</li>
    </ul>
    </div>
    <div class="product-slider owl-carousel">
    <div class="product-item">
    <div class="pi-pic">
    <img src="img/man-1.jpg" alt="" />
    <div class="sale">Sale</div>
    <div class="icon">
    <i class="icon_heart_alt"></i>
    </div>
    <ul>
    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
    <li class="quick-view"><a href="#">+ Quick View</a></li>
    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
    </ul>
    </div>
    <div class="pi-text">
    <div class="catagory-name">Coat</div>
    <a href="#">
    <h5>Pure Pineapple</h5>
    </a>
    <div class="product-price">
    $14.00
    <span>$35.00</span>
    </div>
    </div>
    </div>
    <div class="product-item">
    <div class="pi-pic">
    <img src="img/man-2.jpg" alt="" />
    <div class="icon">
    <i class="icon_heart_alt"></i>
    </div>
    <ul>
    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
    <li class="quick-view"><a href="#">+ Quick View</a></li>
    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
    </ul>
    </div>
    <div class="pi-text">
    <div class="catagory-name">Shoes</div>
    <a href="#">
    <h5>Guangzhou sweater</h5>
    </a>
    <div class="product-price">
    $13.00
    </div>
    </div>
    </div>
    <div class="product-item">
    <div class="pi-pic">
    <img src="img/man-3.jpg" alt="" />
    <div class="icon">
    <i class="icon_heart_alt"></i>
    </div>
    <ul>
    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
    <li class="quick-view"><a href="#">+ Quick View</a></li>
    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
    </ul>
    </div>
    <div class="pi-text">
    <div class="catagory-name">Towel</div>
    <a href="#">
    <h5>Pure Pineapple</h5>
    </a>
    <div class="product-price">
    $34.00
    </div>
    </div>
    </div>
    <div class="product-item">
    <div class="pi-pic">
    <img src="img/man-4.jpg" alt="" />
    <div class="icon">
    <i class="icon_heart_alt"></i>
    </div>
    <ul>
    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
    <li class="quick-view"><a href="#">+ Quick View</a></li>
    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
    </ul>
    </div>
    <div class="pi-text">
    <div class="catagory-name">Towel</div>
    <a href="#">
    <h5>Converse Shoes</h5>
    </a>
    <div class="product-price">
    $34.00
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-3 offset-lg-1">
    <div class="product-large set-bg m-large" data-setbg="img/man-large.jpg">
    <h2>Men’s</h2>
    <a href="#">Discover More</a>
    </div>
    </div>
    </div>
    </div>
    </section>*@
</p>









<!-- From The Blog -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/3&3 do01072022.jpg" alt="" />
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2021
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>Ponuda izdanja</h4>
                        </a>
                        <p>Limited edition</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/2&3 do01032022.jpg" alt="" />
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2021
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>2&3 Ponuda izdanja</h4>
                        </a>
                        <p>Limited edition</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/3&2 14do20022022.jpg" alt="" />
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2021
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>3&2 Ponuda izdanja</h4>
                        </a>
                        <p>Limited edition</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="benefit-items">
            @* <div class="row">
            <div class="col-lg-4">
            <div class="single-benefit">
            <div class="sb-icon">
            <img src="img/icon-1.png" alt="" />
            </div>
            <div class="sb-text">
            <h6>Fast Shipping</h6>
            <p>For all order over 999 Kn <pre wp-pre-tag-1=""></pre>
            </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="single-benefit">
            <div class="sb-icon">
            <img src="img/icon-2.png" alt="" />
            </div>
            <div class="sb-text">
            <h6>Delivery On Time</h6>
            <p>If good have prolems</p>
            </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="single-benefit">
            <div class="sb-icon">
            <img src="img/icon-1.png" alt="" />
            </div>
            <div class="sb-text">
            <h6>Secure Payment</h6>
            <p>100% secure payment</p>
            </div>
            </div>
            </div>
            </div>*@
        </div>
    </div>
</section>


<!-- LOGO -->
<p>
    @*<div class="partner-logo" align="center">
    <div class="container">
    <div class="logo-carousel owl-carousel">
    <div class="logo-item">
    <div class="tablecell-inner">
    <img src="img/LOGO-Bolta02.png" width="50px" />
    </div>
    </div>
    @*<div class="logo-item">
    <div class="tablecell-inner">
    <img src="img/logo-2.png" alt="" />
    </div>
    </div>
    <div class="logo-item">
    <div class="tablecell-inner">
    <img src="img/logo-3.png" alt="" />
    </div>
    </div>
    <div class="logo-item">
    <div class="tablecell-inner">
    <img src="img/logo-4.png" alt="" />
    </div>
    </div>
    <div class="logo-item">
    <div class="tablecell-inner">
    <img src="img/logo-5.png" alt="" />
    </div>
    </div>
    </div>
    </div>
    </div>*@
</p>


<!-- instagram-photo -->
<div class="col-lg-12">
    <div class="section-title">
        <h2>Instagram</h2>
    </div>
</div>

<div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="img/IG/01.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/IG/02.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/IG/03.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/IG/04.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/IG/05.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/IG/06.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">bolta</a></h5>
        </div>
    </div>
</div>